* {
    font-family: 'Montserrat';
}
a {
    text-decoration: none;
}
.container {
    width: 80vw;
    margin: 0 auto;
}
.header_container {
    display: flex;
    justify-content: space-between;
}
.header_navigation ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}