.about{
    margin-top: 100px;
    position: relative;
}
.about_description {
    margin-bottom: 100px;
    h2 {
        color: var(--grayscale-black, #000);
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    span {
        color: var(--grayscale-50, #333);
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 50.4px */
    }
    p {
        color: var(--grayscale-10, #9C9C9C);
        /* Montserrat/Regular/18 */
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 28.8px */
    }
}
.about_line{
    width: 529px;
    height: 2px;
    top: 12px;
    right: 0;
}
.about_characteristic {
    width: 1200px;
    height: 460px;
    flex-shrink: 0;
    background: var(--primary-blue-100, #2C3878);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 55px 70px;
}
.about_characteristic_item {
    display: flex;
    img {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
        margin-right: 30px;
    }
    span {
        width: 343px;
        color: var(--grayscale-white, #FFF);
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 24px */
        padding: 21px 0;
    }
}
.about_offise {
    margin: 85px 73px 100px 493px;
    width: 1200px;
    p {
        width: 634px;
        color: var(--grayscale-10, #9C9C9C);
        /* Montserrat/Regular/18 */
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 28.8px */
        margin-bottom: 20px;
    }
}
.about_offise_button {
    color: var(--grayscale-white, #FFF);
    /* Montserrat/Medium/14 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
}
.about_image {
    width: 100vw;
    overflow-x: hidden;
}
// @media screen and (max-width:1279px) and (min-width:768px) {
// .hero{
//     h1 {
//         font-size: 40px;
//         width: 440px;
//     }
//     .hero_line {
//         width: 40vw;
//     }
// }
// .hero_img {
//     width: 100%;
// }
// .hero_parametrs {
//     position: static;
//     width: 100%;
//     flex-direction: row;
//     justify-content: space-evenly;
//     span {
//         font-size: 16px;
//     }
//     strong {
//         font-size: 40px;
//     }
// }
// .container {
//     position: relative;
// }
// .hero_parametrs_location {
//     position: absolute;
//     height: 160px;
//     width: 240px;
//     top: auto;
//     right: 0;
// }
// }

// @media screen and (max-width:767px){
//     .hero_img {
//         width: 100%;
//     }
//     .hero_parametrs {
//         padding: 21px 0;
//         position: static;
//         width: 100%;
//         flex-direction: row;
//         justify-content: space-evenly;
//         gap: 11px;
//         span {
//             font-size: 10px;
//         }
//         strong {
//             font-size: 20px;
//         }
//     }
//     .container {
//         position: relative;
//     }
//     .hero_parametrs_location {
//         position: absolute;
//         height: 89px;
//         width: 125px;
//         top: auto;
//         right: 0;
//     }
//     .hero_line {
//         display: none;
//     }
//     .hero{
//         h1 {
//             font-size: 24px;
//             width: 343px;
//         }
//     }
//     .navigation_mobile {
//         list-style-type: none;
//         display: flex;
//         justify-content: space-between;
//         .navigation_mobile_item {
//             font-size: 14px;
//             width: 48%;
//             text-align: center;
//         }
//     }
// }
@media screen and (max-width:1279px) and (min-width:768px) {
    .about_description, .about_offise, .about_characteristic {
        width: 100%;
    }
    .about_characteristic {
        flex-direction: column;
        height: auto;
        :not(:last-child){margin-bottom: 25px;}      
    }
    .about_offise {
    margin: 80px 0;
    p {
        margin-bottom: 31px;
    }
    }
}
    
@media screen and (max-width:767px){
    .about_description, .about_offise, .about_characteristic {
        width: 100%;
    }
    .about_characteristic {
        flex-direction: column;
        height: auto;
        :not(:last-child){margin-bottom: 30px;}
        padding: 51px 26px 69px 26px;
    }
    .about_offise {
        margin: 80px 0;
        p {
            width: 100%;
            margin-bottom: 50px;
            font-size: 16px;
        }
    }
    .about_characteristic_item {
        height: 70px;
        img {
            width:70px;
            height: 70px;
        }
        span {
            width: 100%;
            font-size: 16px;
            padding:0;
            margin: auto 0;
        }
    }
}