.header_container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .header_navigation {
        margin: auto 0;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
        width: 600px;
    }
    .navigation_item {
        color: var(--grayscale-50, #333);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        strong {
            color: var(--grayscale-50, #333);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
        }
    }
    .navigation_item_button {
        color: var(--grayscale-white, #FFF);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        padding: 14px 32px;
        border: 1px solid var(--grayscale-30, #3C3C3C);
        background: var(--primary-blue-100, #2C3878);
        img {
            display: none;
        }
    }
}
.logo {
    color: var(--grayscale-black, #000000);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 32px;
    font-weight: 700;
    line-height: 170%;
    margin: auto 0;
}
@media screen and (max-width:1279px) and (min-width: 768px){
    .logo {
        font-size: 20px;
    }
    .header_container .navigation {
        width: 480px;
    }
    .header_container .navigation_item{
        font-size: 14px;
    }
    .navigation_item:first-child {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .header_container {
        margin-top: 15px;
    }
    .logo {
        font-size: 20px;
    }
    .header_container .navigation {
        width: auto;
    }
    .navigation_item {
        display: none;
    }
    .header_container .navigation_item_button {
        display: block;
        span {
            display: none;
        }
        padding: 12px 20px;
    }
    .header_container .navigation_item_button img {
        display: block;
    }
}
