.pdf_title {
    position: relative;   
    margin-bottom: 136px;
}
.pdf_list_and_image {
    display: flex;
    margin-bottom: 50px;
    ul {
        margin: auto 0 auto 20px;
    }
    img {
        margin-left: 50px;
    }
}
.pdf_title ul{
    li {
    color: var(--grayscale-10, #9C9C9C);
    /* Montserrat/Regular/18 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    }
}
@media screen and (max-width:767px) {
    .container {
        position: relative;
    }
    .pdf_list_and_image {
        flex-direction: column;
        img {
            width: 113px;
            height: 113px;
            margin: 26px 0 0 0;
        }
    }
    .pdf_button {
        display: block;
        width: 230px;
    }
}