.plans_description {
    position: relative;
}
.plans_cards {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 170px 0;
    gap: 30px;
}
.plans_cards_item{
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 30px;
    span {
        color: #9C9C9C;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 21.6px */
        strong {
            color: #000;
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 36px */
            text-transform: uppercase;
        }
    }
    img {
        width: 380px;
        height: 340.914px;
        flex-shrink: 0;
    }
    a {
        width: 200px;
        text-align: center;
        margin-top: 50px;
    }
}
@media screen and (max-width:1279px)
{
    .plans_description .plans_line {
        top: 12px;
        right: 0;
    }
}
@media screen and (max-width:768px) {
    .container {
        position: relative;
    }
    .plans_line {
        right: 0;
    }
    .plans_cards {
        flex-direction: column;
        .plans_cards_item {
            width: 100%;
            
        }
        .plans_cards_item img {
            width: 300px;
            height: 269.143px;
            flex-shrink: 0;
        }
        .plans_cards_item_button {
            width: 100%;
        }
    }

}